.blog-container{
    padding-top: 40px;
    overflow:hidden;
}
@media(min-width: 992px){
    .blog-container{
        padding-top: 120px;
    }
}
.blog{
    position: relative;
}
.blog::before, .blog::after{
    content: "";
    display: block;
    width: 56px;
    height: 6px;
    background-size: contain;
    background-repeat: no-repeat;
    position: absolute;
    top: 50%;
    transform: translateY(50%);
}
.blog::before{
    background-image: url(../images/blog/title-deco-left-sm.png);
    left: -16px;
    transform: translateX(-100%);
}
.blog::after{
    background-image: url(../images/blog/title-deco-right-sm.png);
    right: -16px;
    transform: translateX(100%);
}

@media(min-width: 992px){
    .blog::before, .blog::after{
        width: 100px;
    }
    .blog::before{
        background-image: url(../images/blog/title-deco-left-lg.png);
    }
    .blog::after{
        background-image: url(../images/blog/title-deco-right-lg.png);
    }
}

// list
.blog-list{
    margin: 0 auto;
    li:nth-child(n+1) {
        margin-bottom: 64px;
    }
    li:last-child{
        margin-bottom: 0px;
    }
}
@media(min-width: 992px){
    .blog-list li:nth-child(n+1){
        margin-bottom: 40px;
    }
    .blog-list li:last-child{
        margin-bottom: 0px;
    }
}

.blog-img{
    background-size: contain;
    height: 220px;
    width: 100%;
}

.blog-text{
    display: -webkit-box;
    -webkit-box-orient: vertical;
    -webkit-line-clamp: 3;
    overflow: hidden;
}
@media(min-width: 992px){
    .blog-text{
        display: block;
    }
}
// menu

.blog-menu{
    padding: 20px 12px;
    white-space:nowrap;
    overflow-x: scroll;
    background: #FAFAFA;
    &::-webkit-scrollbar{
        display: none;
    }
    margin-right: -4px;
    margin-left: 12px;
    a {
        display: inline-block;
        padding-bottom: 4px;
        color: #5B5B5B;
    }

    li:nth-child(n+1){
        a{
            margin-right: 32px;
        }
    }

    .here{
        color: #1E1E1E;
        position: relative;
        border-bottom: 1px solid #1E1E1E;
    }
}
@media(min-width: 992px){
    .blog-menu{
        padding: 80px;
        margin-right: 0;
        margin-left: 0;

        li:nth-child(n+1){
            a{
                margin-right: 0px;
                margin-bottom: 32px;
            }
        }
        li:last-child{
            a{
                margin-bottom: 0;
            }
        }
    }
}
