.h5{
    font-weight: 400;
    font-size: 20px;
    line-height: 30px;
    margin-bottom: 0;
}
.h6{
    font-size: 16px;
    line-height: 24px;
}

.mt-24{
    margin-top: 24px;
}
.mb-24{
    margin-bottom: 24px;
}

.mb-24-16{
    margin-bottom: 16px;
}
@media(min-width: 992px){
    .mb-24-16{
        margin-bottom: 24px;
    }
}

.mb-72-48{
    margin-bottom: 48px;
}
@media(min-width: 992px){
    .mb-24-16{
        margin-bottom: 72px;
    }
}


.p-120-80{
    padding: 80px 0;
}
@media(min-width: 992px){
    .p-120-80{
        padding: 120px 0;
    }
}

.fz-16{
    font-size: 16px;
    line-height: 24px;
    font-weight: 400;
}