.service-item{
    background-image: url(../images/service/service-item-bg.png);
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    padding: 80px 0;
    p{
        font-size: 24px;
        line-height: 36px;
        font-weight: 700;
        color: #FFFFFF;
    }
}
@media(min-width: 992px){
    .service-item{
        p{
            font-size: 28px;
            line-height: 42px;
        }
    }
}
// 價格表
.price{
    padding: 32px;
    background: #FAFAFA;
    box-shadow: 0px 4px 8px 0px #00000014;
}
// FIXME: 橫線，1200~1400
.price-line{
    width: 28px;
    border: 1px solid #C1C1C1;
    margin: 0 16px;
}
.price-price{
    font-size: 20px;
    font-weight: 700;
    line-height: 30px;
    margin-right: 4px;
}
.price-item{
    font-size: 20px;
    font-weight: 700;
    line-height: 30px;
    margin-left: 5px;
    white-space: nowrap;
}
@media(min-width: 992px){
    .price-line{
        max-width: 41px;
    }
    .price-price{
        font-size: 32px;
        line-height: 48px;
        margin-right: 8px;
    }
    .price-item{
        font-size: 28px;
        font-weight: 600;
        line-height: 42px;
        margin-left: 7px;
    }
}

// QA
.qa{
    padding: 24px;
    border: 1px solid #E9E9E9;
    // height: 100%;
}