/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}

/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
  display: block;
}

body {
  line-height: 1;
}

ol, ul {
  list-style: none;
}

blockquote, q {
  quotes: none;
}

blockquote:before, blockquote:after,
q:before, q:after {
  content: "";
  content: none;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

*,
*::before,
*::after {
  box-sizing: border-box;
}

body {
  font-family: "Noto Sans TC", sans-serif;
  font-size: 16px;
  line-height: 1.5;
}

img {
  max-width: 100%;
  height: auto;
  display: block;
  -o-object-fit: cover;
     object-fit: cover;
}

a {
  display: block;
  text-decoration: none;
  color: #000;
}

a:hover {
  opacity: 0.8;
  color: #000;
}

.h5 {
  font-weight: 400;
  font-size: 20px;
  line-height: 30px;
  margin-bottom: 0;
}

.h6 {
  font-size: 16px;
  line-height: 24px;
}

.m-0-a {
  margin: 0 auto;
}

.m-80-40 {
  margin: 40px 0;
}

@media (min-width: 992px) {
  .m-80-40 {
    margin: 80px 0;
  }
}
.mr-16 {
  margin-right: 16px;
}

.mt-24 {
  margin-top: 24px;
}

.mb-8 {
  margin-bottom: 8px;
}

.mb-16 {
  margin-bottom: 16px;
}

.mb-24 {
  margin-bottom: 24px;
}

.mb-40 {
  margin-bottom: 40px;
}

.mb-0-12 {
  margin-bottom: 12px;
}

@media (min-width: 992px) {
  .mb-0-12 {
    margin-bottom: 0px;
  }
}
.mb-0-40 {
  margin-bottom: 40px;
}

@media (min-width: 992px) {
  .mb-0-40 {
    margin-bottom: 0px;
  }
}
.mb-0-80 {
  margin-bottom: 80px;
}

@media (min-width: 992px) {
  .mb-0-80 {
    margin-bottom: 0px;
  }
}
.mb-12-8 {
  margin-bottom: 8px;
}

@media (min-width: 992px) {
  .mb-12-8 {
    margin-bottom: 12px;
  }
}
.mb-16-12 {
  margin-bottom: 12px;
}

@media (min-width: 992px) {
  .mb-16-12 {
    margin-bottom: 16px;
  }
}
.mb-24-16 {
  margin-bottom: 16px;
}

@media (min-width: 992px) {
  .mb-24-16 {
    margin-bottom: 24px;
  }
}
.mb-40-16 {
  margin-bottom: 16px;
}

@media (min-width: 992px) {
  .mb-40-16 {
    margin-bottom: 40px;
  }
}
.mb-40-32 {
  margin-bottom: 32px;
}

@media (min-width: 992px) {
  .mb-40-32 {
    margin-bottom: 40px;
  }
}
.mb-72-48 {
  margin-bottom: 48px;
}

@media (min-width: 992px) {
  .mb-72-48 {
    margin-bottom: 72px;
  }
}
.mb-80-40 {
  margin-bottom: 40px;
}

@media (min-width: 992px) {
  .mb-80-40 {
    margin-bottom: 80px;
  }
}
.p-120-80 {
  padding: 80px 0;
}

@media (min-width: 992px) {
  .p-120-80 {
    padding: 120px 0;
  }
}
.p-120-0 {
  padding: 0;
}

@media (min-width: 992px) {
  .p-120-0 {
    padding: 120px 0;
  }
}
.p-80-40 {
  padding: 40px 0;
}

@media (min-width: 992px) {
  .p-80-40 {
    padding: 80px 0;
  }
}
.fz-16 {
  font-size: 16px;
  line-height: 24px;
  font-weight: 400;
}

.fz-20 {
  font-size: 20px;
  line-height: 24px;
  font-weight: 600;
}

@media (min-width: 992px) {
  .fw-lg-700 {
    font-weight: 700;
  }
}
.fz-24-20 {
  font-size: 20px;
  font-weight: 700;
  line-height: 24px;
}

@media (min-width: 992px) {
  .fz-24-20 {
    font-size: 24px;
    line-height: 28.8px;
  }
}
.fz-32-24 {
  font-size: 24px;
  font-weight: 700;
  line-height: 28.8px;
  letter-spacing: 0.12em;
}

@media (min-width: 992px) {
  .fz-32-24 {
    font-size: 32px;
    font-weight: 600;
    line-height: 38.4px;
    letter-spacing: 0.12em;
  }
}
.fz-28-24 {
  font-size: 24px;
  font-weight: 700;
  line-height: 28.8px;
}

@media (min-width: 992px) {
  .fz-28-24 {
    font-size: 28px;
    line-height: 33.6px;
  }
}
.color-919191 {
  color: #919191;
}

.color-1E1E1E {
  color: #1E1E1E;
}

.color-5B5B5B {
  color: #5B5B5B;
}

.color-3B3B3B {
  color: #3B3B3B;
}

.border-radius-8 {
  border-radius: 8px;
}

.border-radius-16 {
  border-radius: 16px;
}

.overflow-hidden {
  overflow: hidden;
}

.swiper {
  width: 100%;
  height: 100%;
}

.swiper-slide {
  height: auto !important;
}

.swiper-pagination {
  position: relative;
  margin-top: 24px;
}

.swiper-pagination-bullet {
  width: 8px;
  height: 8px;
  background: #525252;
}

.swiper-pagination-bullet-active {
  width: 12px;
  height: 12px;
  background: #FFFFFF;
}

.nav-link {
  padding-top: 4px;
  padding-bottom: 4px;
}

.navbar-collapse-center {
  text-align: center;
  display: flex;
  justify-content: center;
}

.collapse {
  padding-top: 40px;
  padding-bottom: 40px;
}

.navbar-nav a {
  color: #000000;
  font-weight: normal;
  font-size: 16px;
  margin-bottom: 24px;
}
.navbar-nav a:last-child {
  margin-bottom: 0;
}

@media (min-width: 992px) {
  .navbar {
    padding: 28px 0px;
  }
  .navbar-nav a {
    margin-right: 48px;
    margin-bottom: 0px;
  }
  .navbar-nav a:last-child {
    margin-right: 0;
  }
  .collapse {
    padding-top: 0px;
    padding-bottom: 0px;
  }
}
.hidden {
  display: none;
}

.active {
  font-weight: 600;
  background: linear-gradient(#919191, #919191) left top no-repeat, linear-gradient(#919191, #919191) left top no-repeat, linear-gradient(#919191, #919191) right top no-repeat, linear-gradient(#919191, #919191) right top no-repeat, linear-gradient(#919191, #919191) left bottom no-repeat, linear-gradient(#919191, #919191) left bottom no-repeat, linear-gradient(#919191, #919191) right bottom no-repeat, linear-gradient(#919191, #919191) right bottom no-repeat;
  background-size: 1px 8px, 8px 1px;
}

.footer {
  padding: 40px 0;
  background-image: url("../images/footer-bg-sm.png");
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}
.footer .logo img {
  width: 120px;
  height: 54px;
}

.icon-list {
  margin-top: 40px;
}

.icon {
  width: 56px;
  height: 56px;
  font-size: 38px;
  text-align: center;
  line-height: 56px;
  margin-right: 8px;
}

.icon-list li {
  margin: 0 auto;
  max-width: 306px;
  border: 1px solid #C1C1C1;
  border-radius: 8px;
  margin-top: 24px;
  background-color: #FFFFFF;
}
.icon-list li a {
  padding: 6px 24px;
  color: #000000;
  display: inline;
}
.icon-list li:first-child {
  margin-top: 0;
  background-color: #000000;
  border: 1px solid #000000;
}
.icon-list li:first-child a {
  color: #FFFFFF;
}

.contact-us {
  width: 240px;
  font-size: 16px;
  line-height: 24px;
}

.mail {
  font-size: 20px;
  line-height: 24px;
  color: #919191;
}

@media (min-width: 992px) {
  .footer {
    padding: 80px 0;
    background-image: url("../images/footer-bg-lg.png");
  }
  .icon-list {
    margin-top: 0px;
  }
  .contact-us {
    width: 300px;
    font-size: 20px;
    line-height: 30px;
  }
}
.content {
  background-color: #FAFAFA;
}

.experience {
  margin: 0 auto;
  max-width: 235px;
  font-size: 16px;
  line-height: 24px;
  color: #3B3B3B;
}
.experience h6 {
  color: #5B5B5B;
  position: relative;
}
.experience h6::before {
  content: "";
  display: block;
  width: 24px;
  height: 2px;
  background: #C1C1C1;
  left: 50%;
  bottom: -4px;
  position: absolute;
  transform: translateX(-50%);
}
.experience li:first-child {
  margin-bottom: 20px;
}

@media (min-width: 992px) {
  .experience {
    max-width: 636px;
  }
  .experience li {
    max-width: 298px;
  }
  .experience li:first-child {
    margin-bottom: 0px;
  }
  .experience li:nth-child(2) {
    margin-left: 40px;
  }
}
.title {
  position: relative;
  margin-bottom: 40px;
}
.title p {
  font-size: 20px;
  line-height: 30px;
  z-index: 1;
}
.title p:first-of-type {
  max-width: 300px;
  margin-bottom: 8px;
}
.title p:nth-of-type(2) {
  max-width: 260px;
}

.mark {
  position: relative;
  padding: 0;
}

.mark::after {
  content: "";
  background-image: url(../images/work/mark.png);
  background-size: contain;
  width: 108px;
  height: 6px;
  position: absolute;
  bottom: 0;
  right: -4px;
  z-index: -1;
}

@media (min-width: 992px) {
  .title {
    max-width: 670px;
    margin-bottom: 24px;
    padding: 59px 71px;
  }
  .title p {
    font-size: 24px;
    line-height: 28.8px;
  }
  .title p:first-of-type {
    max-width: 100%;
    margin-bottom: 16px;
  }
  .title p:nth-of-type(2) {
    max-width: 100%;
  }
  .mark::after {
    width: 148px;
    height: 8px;
    right: -16px;
  }
}
.quote-left, .quote-right {
  width: 64px;
  height: 64px;
}

.quote-right {
  display: none;
}

@media (min-width: 992px) {
  .quote-left, .quote-right {
    position: absolute;
    width: 72px;
    height: 72px;
  }
  .quote-left {
    top: 0;
    left: 0;
  }
  .quote-right {
    display: block;
    bottom: 0;
    right: 0;
  }
}
.work-list li:nth-child(n+2) {
  margin-top: 48px;
}

@media (min-width: 992px) {
  .work-list li:nth-child(2) {
    margin-top: 0px;
  }
  .work-list li:nth-child(n+3) {
    margin-top: 80px;
  }
}
.card-image {
  border-radius: 8px;
}

.card-title {
  font-weight: 700;
  font-size: 20px;
  line-height: 24px;
}

@media (min-width: 992px) {
  .card-title {
    font-size: 28px;
    line-height: 33.6px;
  }
}
.page li:nth-child(n+1) {
  margin-right: 16px;
}
.page li:last-child {
  margin-right: 0;
}
.page li a {
  padding: 2px 13px;
  font-size: 24px;
  line-height: 36px;
  color: #3B3B3B;
  border-radius: 4px;
}

.page .here a {
  background: #1E1E1E;
  color: white;
}

.blog-container {
  padding-top: 40px;
  overflow: hidden;
}

@media (min-width: 992px) {
  .blog-container {
    padding-top: 120px;
  }
}
.blog {
  position: relative;
}

.blog::before, .blog::after {
  content: "";
  display: block;
  width: 56px;
  height: 6px;
  background-size: contain;
  background-repeat: no-repeat;
  position: absolute;
  top: 50%;
  transform: translateY(50%);
}

.blog::before {
  background-image: url(../images/blog/title-deco-left-sm.png);
  left: -16px;
  transform: translateX(-100%);
}

.blog::after {
  background-image: url(../images/blog/title-deco-right-sm.png);
  right: -16px;
  transform: translateX(100%);
}

@media (min-width: 992px) {
  .blog::before, .blog::after {
    width: 100px;
  }
  .blog::before {
    background-image: url(../images/blog/title-deco-left-lg.png);
  }
  .blog::after {
    background-image: url(../images/blog/title-deco-right-lg.png);
  }
}
.blog-list {
  margin: 0 auto;
}
.blog-list li:hover {
  box-shadow: 0px 0px 4px rgba(57, 57, 57, 0.2);
}
.blog-list li:nth-child(n+1) {
  margin-bottom: 64px;
}
.blog-list li:last-child {
  margin-bottom: 0px;
}

@media (min-width: 992px) {
  .blog-list li:nth-child(n+1) {
    margin-bottom: 40px;
  }
  .blog-list li:last-child {
    margin-bottom: 0px;
  }
}
.blog-img {
  background-size: contain;
  height: 220px;
  width: 100%;
}

.blog-text {
  display: -webkit-box;
  -webkit-box-orient: vertical;
  -webkit-line-clamp: 3;
  overflow: hidden;
}

@media (min-width: 992px) {
  .blog-text {
    -webkit-line-clamp: 4;
  }
}
@media (min-width: 1200px) {
  .blog-text {
    display: block;
  }
}
.blog-menu {
  padding: 20px 12px;
  white-space: nowrap;
  overflow-x: scroll;
  background: #FAFAFA;
  margin-right: -4px;
  margin-left: 12px;
}
.blog-menu::-webkit-scrollbar {
  display: none;
}
.blog-menu a {
  display: inline-block;
  padding-bottom: 4px;
  color: #5B5B5B;
}
.blog-menu li:nth-child(n+1) a {
  margin-right: 32px;
}
.blog-menu .here {
  color: #1E1E1E;
  position: relative;
  border-bottom: 1px solid #1E1E1E;
}

@media (min-width: 992px) {
  .blog-menu {
    padding: 80px;
    margin-right: 0;
    margin-left: 0;
  }
  .blog-menu li:nth-child(n+1) a {
    margin-right: 0px;
    margin-bottom: 32px;
  }
  .blog-menu li:last-child a {
    margin-bottom: 0;
  }
}
.post {
  width: 90%;
}

@media (min-width: 992px) {
  .post {
    width: 100%;
  }
}
.post-title {
  margin-bottom: 24px;
}
.post-title h1 {
  font-size: 24px;
  font-weight: 700;
  line-height: 28.8px;
  text-align: center;
}
.post-title h2 {
  font-size: 16px;
  line-height: 19.2px;
  text-align: center;
}

@media (min-width: 992px) {
  .post-title {
    margin-bottom: 64px;
  }
  .post-title h1 {
    font-size: 32px;
    line-height: 38.4px;
  }
  .post-title h2 {
    font-size: 24px;
    line-height: 28.8px;
  }
}
.post-content p {
  font-size: 20px;
  line-height: 30px;
}

.related-post {
  text-align: center;
}

@media (min-width: 992px) {
  .related-post {
    text-align: left;
  }
}
.related-post-list li:nth-child(n+1) {
  margin-bottom: 40px;
}
.related-post-list li:last-child {
  margin-bottom: 0px;
}

@media (min-width: 992px) {
  .related-post-list li {
    margin-bottom: 0;
  }
}
.service-item {
  background-image: url(../images/service/service-item-bg.png);
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  padding: 80px 0;
}
.service-item p {
  font-size: 24px;
  line-height: 36px;
  font-weight: 700;
  color: #FFFFFF;
}

@media (min-width: 992px) {
  .service-item p {
    font-size: 28px;
    line-height: 42px;
  }
}
.price {
  padding: 32px;
  background: #FAFAFA;
  box-shadow: 0px 4px 8px 0px rgba(0, 0, 0, 0.0784313725);
}

.price-line {
  width: 28px;
  border: 1px solid #C1C1C1;
  margin: 0 16px;
}

.price-price {
  font-size: 20px;
  font-weight: 700;
  line-height: 30px;
  margin-right: 4px;
}

.price-item {
  font-size: 20px;
  font-weight: 700;
  line-height: 30px;
  margin-left: 5px;
  white-space: nowrap;
}

@media (min-width: 992px) {
  .price-line {
    max-width: 41px;
  }
  .price-price {
    font-size: 32px;
    line-height: 48px;
    margin-right: 8px;
  }
  .price-item {
    font-size: 28px;
    font-weight: 600;
    line-height: 42px;
    margin-left: 7px;
  }
}
.qa {
  padding: 24px;
  border: 1px solid #E9E9E9;
}/*# sourceMappingURL=all.css.map */